.myheader {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.mymain {
  margin: 0;
  padding: 100px;
  background-color:darkslategray;
}

main > h1, p, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

.myfooter {
  text-align: center;
  padding: 3px;
  background-color:darkgray;
}
body {
  font-weight: bold;
  font-style: italic;
  color: azure;
}

.linkcolor{
  color:azure
}